body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    background-image: linear-gradient(rgb(2, 82, 125), rgb(4, 164, 250));
    padding-top: 100px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}

.banner-titulo {
    position: relative;
    height: 200px;
    background-color: rgb(3, 63, 95);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.banner-titulo h1 {
    font-size: 48px;
    padding-top: 60px;
}

.container-calculadora h1{
    margin-bottom: 60px;
}

.container-calculadora {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(249, 243, 215, 0.8);
  color: #414141;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  opacity: 90%;
}

.container-historico h1{
  margin-bottom: 60px;
}

.container-historico {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(249, 243, 215, 0.8);
    color: #414141;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    opacity: 90%;
    margin-bottom: 160px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}


p {
    font-size: 16px;
    line-height: 1.5;
}

  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;

  }
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-group select {
    background-image: gray;
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  .form-button-calc{
    display: flex;
    justify-content: flex-end;
  }
  .form-button-calc button {
    width: 15%;
    text-align: center;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-button-hist{
    display: flex;
    justify-content: flex-end;
  }
  .form-button-hist button {
    width: 15%;
    text-align: center;
    padding: 8px;
    background-color: #707070;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .result{
    font-size: 32px;
    margin-left: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 480px) {

    .form-button-calc button {
      width: auto;
    }

  }